.camera-instruction-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.camera-button{
    display: inline-block;
	border: 10px none white;
	color: #fff;
	text-decoration: none;
	background-color: $pastel-blue-dark;
	padding: 10px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 10px;
	text-align: center;
	position: relative;
    outline: none;
    width: 110px;
    margin: 2px;
}

.camera-button:hover{
	background-color: $pastel-blue-medium;
}

.camera-button:active{
	background-color: $pastel-blue-light;
}

.shot-button{
    display: inline-block;
	border: 10px none white;
	color: #fff;
	text-decoration: none;
	background-color: $material-blue-dark;
	padding: 10px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 10px;
	text-align: center;
	position: relative;
    outline: none;
    width: 110px;
    margin: 2px;
}

.shot-button:hover{
	background-color: $material-blue;
}

.shot-button:active{
	background-color: $material-blue-light;
}


.options-bar{
    border: 5px none black;
    background-color: white;
    margin: 10px;
}