.header {
    background: $material-grey-dark;
    margin-bottom: $m-size;
    display: flex;
    align-items: center;
}

.heading-text {
    font-size: $m-size;
    padding: 2px;
    margin-left: $s-size;
    padding-right: $s-size;
    color: white;
    letter-spacing: 1px;
}

.header-button{
    margin: 0 0 0 $s-size;
    padding-right: $s-size;
    border: none;
    font-size: $s-size;
    color: white;
    background-color: rgba(58,58,58,0.0);
}

.header-button:hover{
    background-color: white;
    color: $material-grey-dark;
    border-radius: 10px;
}

.header-button:active{
    background-color: white;
    color: $material-grey-light;
    border-radius: 10px;
}
