.header {
    background: $burnt-orange;
    margin-bottom: $m-size;
    display: flex;
    align-items: center;
}

.heading-text {
    font-size: $m-size;
    padding: 0;
    margin-left: $s-size;
}
