.pitch-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: $s-size;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    padding: $s-size;
    border: 0.2rem solid grey;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.button-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    overflow: hidden;
    background-color: white;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    vertical-align: middle;
}

.location-button{
    display: inline-block;
	border: 10px none white;
	color: #fff;
	text-decoration: none;
	background-color: $material-blue-dark;
	padding: 10px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 10px;
	text-align: center;
	position: relative;
    outline: none;
    width: 110px;
    margin: 2px;
}

.location-button:hover{
	background-color: $material-blue;
}

.location-button:active{
	background-color: $material-blue-light;
}

.team-a-button{
    display: inline-block;
	border: 10px none white;
	color: #fff;
	text-decoration: none;
	background-color: $material-red-dark;
	padding: 10px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 10px;
	text-align: center;
	position: relative;
    outline: none;
    width: 110px;
    margin: 2px;
}

.team-a-button:hover{
	background-color: $material-red;
}

.team-a-button:active{
	background-color: $material-red-light;
}

.team-b-button{
    display: inline-block;
	border: 10px none white;
	color: #fff;
	text-decoration: none;
	background-color: $material-blue-dark;
	padding: 10px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 10px;
	text-align: center;
	position: relative;
    outline: none;
    width: 110px;
    margin: 2px;
}

.team-b-button:hover{
	background-color: $material-blue;
}

.team-b-button:active{
	background-color: $material-blue-light;
}

.pitch-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    padding: 5px;
    background-color: white;
}

.grid-endzone-top {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

.grid-endzone-bottom {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
}


.grid-balcony-top {
    background-color: grey;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
    grid-column-gap: 50px;
}

.grid-balcony-bottom {
    background-color: grey;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
    grid-column-gap: 50px;
}

.grid-middle-top {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    padding-left: 200px;
    padding-bottom: 40px;
    font-size: 5px;
    text-align: center;
}

.grid-middle-bottom {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding-left: 200px;
    padding-bottom: 40px;
    font-size: 5px;
    text-align: center;
}