.previews-container{
    margin: $xs-size;
    height: 90vh;
    overflow: auto;
    display: flex;
}

.preview-container{
    margin: $xs-size;
    flex-wrap: nowrap;
    flex-direction: column;
}

.top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.preview-text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
    margin: $xs-size;
}

.preview-video{
    max-width: 40vh;
    height: 22.5vh;
    border: 0.2rem solid white;
    background-color: black;
}

.preview-button{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
    align-self: center;
    margin-left: $m-size;

}

.option-text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
    margin: $xs-size;
    margin-left: $m-size;
}

.checkbox-text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;

    margin-left: $m-size;
}