.response-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: $s-size;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    padding-right: $l-size;
    padding-left: $l-size;
    border: 0.2rem solid grey;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.response-message-container{
    flex-direction: row;
    flex-wrap: nowrap;
    vertical-align: middle;
}

.message-label{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
    margin-right: $m-size;
}

.response-area{
    margin-left: $xs-size;
    width: 75%;
    resize: none;
    margin-top: $xs-size;
    flex-wrap: nowrap;
}
.response-button{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
    margin-left: $s-size;
}

.response-options-container{
    margin: $xs-size;
    flex-direction: row;
    flex-wrap: nowrap;
    vertical-align: middle;
}

.option-label{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
    margin-right: $m-size;
}
.option-area{
    width: 5vw;
    resize: none;
    margin-left: $xs-size;
    vertical-align: middle;
}

.option-button{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
    margin-left: $m-size;
}
