.director-container{
    flex: 3;
}

.current-stream{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
    margin-left: $m-size;
}

.video-container{
    margin: $xs-size;
}

.video-player{
    margin-left: $m-size;
    width: 90vh;
    height: 50.25vh;
    border: 0.2rem solid white;
    background-color: black;
}