.director-container{
    display: 'flex';
    justify-content: 'center';
    align-content: center;
}

.current-stream{
    font-family: sans-serif;
    font-weight: bold;
    font-size: $s-size;
}

.video-container{
    margin: $xs-size;
}

.video-player{
    width: 90vh;
    height: 50.25vh;
    border: 0.2rem solid white;
    background-color: black;
}