html {
  font-size: 75%; }

body {
  background: #EFEFEF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0; }

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 1.6rem; }

.dashboard-container {
  display: flex;
  justify-content: space-evenly; }

.toggle-button {
  display: inline-block;
  border: 5px thick;
  border-color: rgba(58, 58, 58, 0.9);
  color: white;
  text-decoration: none;
  background-color: rgba(58, 58, 58, 0.9);
  padding: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  margin: 2px; }

.toggle-button:hover {
  background-color: rgba(58, 58, 58, 0.6); }

.toggle-button:active {
  background-color: rgba(58, 58, 58, 0.3); }

.reset-button {
  display: inline-block;
  border: 5px thick;
  border-color: #d32f2f;
  color: white;
  text-decoration: none;
  background-color: #d32f2f;
  padding: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  margin: 2px; }

.reset-button:hover {
  background-color: #9a0007; }

.reset-button:active {
  background-color: #ff6659; }

.header {
  background: rgba(58, 58, 58, 0.9);
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center; }

.heading-text {
  font-size: 1.6rem;
  padding: 2px;
  margin-left: 1.2rem;
  padding-right: 1.2rem;
  color: white;
  letter-spacing: 1px; }

.header-button {
  margin: 0 0 0 1.2rem;
  padding-right: 1.2rem;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(58, 58, 58, 0); }

.header-button:hover {
  background-color: white;
  color: rgba(58, 58, 58, 0.9);
  border-radius: 10px; }

.header-button:active {
  background-color: white;
  color: rgba(58, 58, 58, 0.3);
  border-radius: 10px; }

.previews-container {
  margin: 0.8rem;
  height: 90vh;
  overflow: auto;
  display: flex; }

.preview-container {
  margin: 0.8rem;
  flex-wrap: nowrap;
  flex-direction: column; }

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.preview-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.8rem; }

.preview-video {
  max-width: 40vh;
  height: 22.5vh;
  border: 0.2rem solid white;
  background-color: black; }

.preview-button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  align-self: center;
  margin-left: 1.2rem; }

.option-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.8rem;
  margin-left: 1.2rem; }

.question-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.8rem;
  margin-left: 1.2rem; }

.checkbox-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem; }

input[type=checkbox] {
  transform: scale(3); }

.director-container {
  display: flex;
  justify-content: center;
  align-content: center; }

.video-container {
  margin: 0.8rem; }

.current-stream {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  align-self: center; }

.video-player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.video-player {
  width: 90vh;
  height: 50.25vh;
  border: 0.2rem solid white;
  background-color: black; }

.response-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  border: 0.2rem solid grey;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }

.response-message-container {
  flex-direction: row;
  flex-wrap: nowrap;
  vertical-align: middle; }

.message-label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1.6rem; }

.response-area {
  margin-left: 0.8rem;
  width: 75%;
  resize: none;
  margin-top: 0.8rem;
  flex-wrap: nowrap; }

.response-button {
  display: inline-block;
  border: 1px rgba(58, 58, 58, 0.9);
  color: #fff;
  text-decoration: none;
  background-color: rgba(58, 58, 58, 0.9);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
  position: relative;
  outline: none;
  width: 150px; }

.response-button:hover {
  background-color: rgba(58, 58, 58, 0.6); }

.response-button:action {
  background-color: rgba(58, 58, 58, 0.3); }

.response-options-container {
  margin: 0.8rem;
  flex-direction: row;
  flex-wrap: nowrap;
  vertical-align: middle; }

.option-label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1.6rem; }

.option-area {
  width: 5vw;
  resize: none;
  margin-left: 0.8rem;
  vertical-align: middle; }

.option-button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 1.6rem; }

.pitch-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  padding: 1.2rem;
  border: 0.2rem solid grey;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle; }

.button-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  overflow: hidden;
  background-color: white;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  vertical-align: middle; }

.location-button {
  display: inline-block;
  border: 10px none white;
  color: #fff;
  text-decoration: none;
  background-color: #008ba3;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  width: 110px;
  margin: 2px; }

.location-button:hover {
  background-color: #00bcd4; }

.location-button:active {
  background-color: #62efff; }

.team-a-button {
  display: inline-block;
  border: 10px none white;
  color: #fff;
  text-decoration: none;
  background-color: #d32f2f;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  width: 110px;
  margin: 2px; }

.team-a-button:hover {
  background-color: #9a0007; }

.team-a-button:active {
  background-color: #ff6659; }

.team-b-button {
  display: inline-block;
  border: 10px none white;
  color: #fff;
  text-decoration: none;
  background-color: #008ba3;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  width: 110px;
  margin: 2px; }

.team-b-button:hover {
  background-color: #00bcd4; }

.team-b-button:active {
  background-color: #62efff; }

.pitch-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  padding: 5px;
  background-color: white; }

.grid-endzone-top {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center; }

.grid-endzone-bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center; }

.grid-balcony-top {
  background-color: grey;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center;
  grid-column-gap: 50px; }

.grid-balcony-bottom {
  background-color: grey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  padding-bottom: 40px;
  font-size: 30px;
  text-align: center;
  grid-column-gap: 50px; }

.grid-middle-top {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  padding-left: 200px;
  padding-bottom: 40px;
  font-size: 5px;
  text-align: center; }

.grid-middle-bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding-left: 200px;
  padding-bottom: 40px;
  font-size: 5px;
  text-align: center; }

.camera-instruction-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle; }

.camera-button {
  display: inline-block;
  border: 10px none white;
  color: #fff;
  text-decoration: none;
  background-color: rgba(32, 178, 170, 0.9);
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  width: 110px;
  margin: 2px; }

.camera-button:hover {
  background-color: rgba(32, 178, 170, 0.6); }

.camera-button:active {
  background-color: rgba(32, 178, 170, 0.3); }

.shot-button {
  display: inline-block;
  border: 10px none white;
  color: #fff;
  text-decoration: none;
  background-color: #008ba3;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  width: 110px;
  margin: 2px; }

.shot-button:hover {
  background-color: #00bcd4; }

.shot-button:active {
  background-color: #62efff; }

.options-bar {
  border: 5px none black;
  background-color: white;
  margin: 10px; }

.stage-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  padding: 1.2rem;
  border: 0.2rem solid grey;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle; }

.stage-text {
  font-size: 15px; }

.button-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  overflow: hidden;
  background-color: white;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  vertical-align: middle; }

.stage-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  padding: 5px;
  background-color: white; }

.grid- {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 25px;
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center; }

.grid-trough {
  background-color: rgba(58, 58, 58, 0.3);
  padding: 25px;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center; }
