// Colors
$burnt-orange: #FC5124;
$neutral: #EFEFEF;

$material-grey-dark: rgba(58,58,58,0.9);
$material-grey-medium: rgba(58,58,58,0.6);
$material-grey-light: rgba(58,58,58,0.3);

$pastel-blue-dark: rgba(32, 178, 170, 0.9);
$pastel-blue-medium: rgba(32, 178, 170, 0.6);
$pastel-blue-light: rgba(32, 178, 170, 0.3);

$material-blue-dark : rgb(0, 139, 163);
$material-blue : rgb(0, 188, 212);
$material-blue-light : rgb(98, 239, 255);

$material-red-dark: rgb(211, 47, 47);
$material-red: rgb(154, 0, 7);
$material-red-light: rgb(255, 102, 89);



// Spacing

$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;